= content_for :title do
  %h1 Players

%table
  %thead
    %tr
      %th Name
      %th Position
      %th Team
  %tbody
  -@players.each do |player|
    %tr
      %td= link_to player, player_path(player)
      %td= link_to player.position, player_path(player)
      %td= link_to player.team, player_path(player)


